<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address%></p>
<p><%= @restaurant.category%></p>
<p><%= @restaurant.phone_number%></p>

<%= link_to "Delete", restaurant_path(@restaurant),
method: :delete,
data: { confirm: "are you sure" } %>
<% @restaurant.reviews.each do |r| %>
<%= r.content %>
<% end %>

<%= link_to "Home", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "New Review", new_restaurant_review_path(@restaurant) %>
